.tabs_wrapper {
  font-family: Inter, sans-serif;
}
.titles_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #7689a8;
  font-size: 18px;
  font-weight: 500;
}
.tabs_content {
  display: flex;
  justify-content: center;
}
.tabs_content p {
  padding: 100px 160px 100px 30px;
  background-color: #f7f9fc;
}
.tabs_content img {
  max-width: 600px;
  height: auto;
  margin-left: -30px;
}
[data-post-id] {
  padding: 20px 25px;
  margin: 16px 8px;
  background-color: #eaf2fe;
  cursor: pointer;
}
[data-post-id]:hover {
  box-shadow: 0px 4px 20px rgba(66, 81, 104, 0.16);
}
